body{
    margin: 0px;
    padding: 0px;
}

.top_bar{
    display: flex;
    padding: 20px;
    justify-content: center;
}

#logo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    color: black;
}

.search-box{
    width: 40%;
    margin-left: 25px;
}

.profile{
    height: 20px;
    color: black;
    background-color: transparent;
    border: none;
    font-size: large;
    text-decoration: none;
}

.user{
    margin-left: 280px;
    display: flex;
    align-items: center;
}
